/* Hero-osio taustakuva */
.hero-kuva {
  min-height: 50vh; /* Voit säätää korkeutta tarpeen mukaan */
  background-position: center center; /* Keskittää kuvan vaakasuunnassa ja pystysuunnassa */
  background-repeat: no-repeat;
  background-size: cover; /* Kuvan säilyttäminen skaalautuvana ja keskellä */
  width: 100%; /* Varmistaa, että elementti peittää koko vaakasuoran tilan */
  margin: 0; /* Poistaa mahdolliset marginaalit */
  padding: 50px;
  background-image: url("./assets/HeroBanner/HeroBannerKuvia/KuvaGarda_2.JPG");
}

/* Tekstin asettelu hero-kuvan päälle */
.bg-teksti {
  color: white;
  z-index: 2; /* Teksti kuvan yläpuolella */
  text-align: center;
  background-size: cover;
  font-size: large;
}

.bg-teksti h1 {
  color: #f78fb3;
}

#linkki {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.nav-link {
  text-decoration: none; /* Poistaa alaviivan */
  font-size: 1.2rem; /* Voit muokata fontin kokoa */
  border-radius: 20px; /* Pyöristetyt reunat */
}

.nav-link:hover {
  text-decoration: none; /* Varmistaa, ettei alaviivaa näy hover-tilassa */
  color: white; /* Vaihtoehtoinen väri hover-tilassa */
  background-color: #d6769b; /* Vaihtoehtoinen taustaväri hover-tilassa */
}

.nav-link:hover {
  text-decoration: none; /* Varmistaa, ettei alaviivaa näy hover-tilassa */
  color: white; /* Vaihtoehtoinen väri hover-tilassa */
  background-color: #d6769b; /* Vaihtoehtoinen taustaväri hover-tilassa */
}

.nav-item {
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #f78fb3;
  color: white;
  font-size: 1em;
  cursor: pointer;
  align-self: start;
  margin-top: 30px;
  border-radius: 15px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .hero-kuva {
    background-image: none;
    color: #333333;
  }

  .bg-teksti {
    color: #333333;
  }
}
