/* Hero-osio taustakuva */
.hero-kuva {
  height: 50vh; /* Voit säätää korkeutta tarpeen mukaan */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Peittää koko elementin leveys ja korkeus */
  position: relative;
  width: 100%; /* Varmistaa, että elementti peittää koko vaakasuoran tilan */
  margin: 0; /* Poistaa mahdolliset marginaalit */
  padding: 0;
}

/* Tekstin asettelu hero-kuvan päälle */
.bg-teksti {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%; /* Keskittää tekstin pystysuunnassa */
  left: 50%; /* Keskittää tekstin vaakasuunnassa */
  transform: translate(-50%, -50%); /* Täydellinen keskitys */
  z-index: 2; /* Teksti kuvan yläpuolella */ /* Tekstin leveys - voi säätää */
  text-align: center;
  background-size: cover;
}

/* Palvelut-osio */
#palvelut {
  margin: 20px auto;
  text-align: center;
}
