* {
  box-sizing: border-box;
}
/* Hero-osio taustakuva */
.hero-kuva {
  min-height: 50vh; /* Voit säätää korkeutta tarpeen mukaan */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Peittää koko elementin leveys ja korkeus */
  position: relative;
  width: 100%; /* Varmistaa, että elementti peittää koko vaakasuoran tilan */
  margin: 0; /* Poistaa mahdolliset marginaalit */
  padding: 0;
}

/* Tekstin asettelu hero-kuvan päälle */
.bg-teksti {
  color: #ffffff;
  position: absolute;
  top: 50%; /* Keskittää tekstin pystysuunnassa */
  left: 50%; /* Keskittää tekstin vaakasuunnassa */
  transform: translate(-50%, -50%); /* Täydellinen keskitys */
  z-index: 2; /* Teksti kuvan yläpuolella */ /* Tekstin leveys - voi säätää */
  text-align: center;
  background-size: cover;
  font-size: large;
}

.bg-teksti h1 {
  color: #f78fb3;
}

#linkki {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.nav-item {
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #f78fb3;
  color: white;
  font-size: 1em;
  cursor: pointer;
  align-self: start;
  margin-top: 30px;
  border-radius: 15px;
  justify-content: center;
}

/* Palvelut-osio */
#palvelut {
  margin: 30px auto;
  text-align: center;
}

.palvelut-kuvat {
}
