h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: #f78fb3;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #f78fb3;
  text-shadow: 1px 1px 2px #f78fb3, -1px -1px 2px #f78fb3, 1px -1px 2px #f78fb3,
    -1px 1px 2px #f78fb3;
}

body {
}

button {
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #f78fb3;
  color: white;
  font-size: 1em;
  cursor: pointer;
  align-self: start;
  margin-top: 30px;
  border-radius: 15px;
}

/* Palvelut-osion marginaali */
h1 + p {
  font-size: larger;
}

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%; /* Käyttää koko näytön leveyden */
  }
}
