/* Palvelut-kuvat säilö */
.palvelut-kuvat {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  background-color: #a8e6cf;
}

/* Kortti (kuva + teksti) */
.kortti {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1%;
  overflow: hidden;
  padding: 10px;
}

/* Kortin kuvat */
.kortti img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 4/3;
}

/* Kortin teksti */
.kortti p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #333333;
}

/* Responsiivisuus */
@media screen and (max-width: 768px) {
  .kortti {
    width: 100%;
    margin-bottom: 20px;
  }

  .palvelut-kuvat {
    flex-direction: column;
  }
}
