.references-container {
    text-align: center; 
    font-family: Arial, sans-serif; 
    background-color: #A8E6CF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.references-container h2 {
    font-size: 24px;
    margin-bottom: 10px; 
    color: #333; 
}

#reference {
    width: 500px; 
    padding: 20px;
    margin: 0 auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
    position: relative; 
}

.reference-image {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    position: absolute;
    top: 10px;
    right: 10px; 
    border: 3px solid #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.reference-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px; 
    margin-bottom: 5px; 
    color: #F78FB3;
}

.reference-job {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; 
    color: #F78FB3;
}

.reference-text {
    font-size: 16px;
    line-height: 1.5; 
    color: #555;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

@media (max-width: 580px) {
    #reference {
        width: 300px;
    }

    .reference-name, .reference-job {
        text-align: left;
    }
}