.ota-yhteytta {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
}

#ota-yhteytta input,
#ota-yhteytta textarea {
  display: block;
  width: 250%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#lomake {
  width: 60%;
  margin-right: 60px;
}

button {
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #f78fb3;
  color: white;
  font-size: 1em;
  cursor: pointer;
  align-self: start;
  margin-top: 30px;
}

#sivuosa {
  width: 35%;
  text-align: right;
}
